body {
background-color: #A9A9A9;
font-family: arial, sans-serif;
font-size: 12px;
color:#302F2F;
}

.wrapper  {
background-color: #ffffff;
width:98%;
max-width: 800px;
margin: 0  auto;
padding: 12px 20px;
color:
}


h1  {
margin-bottom:.5em;
}

h2  {
margin-bottom: .25em;
margin-top: 1em;
}

h1, h2 {
color: #130342;
text-align:left;
}

blockquote {
border-left: 0px solid #889AA5;
padding-left: 0px;
background color: #f9f9f9;
margin-left:  0;
}

.image  {
text-align: center;
margin: 2em 0;
}

.caption  {
font-style:italic;
margin-top:.25em;
}

a {
color: #7FFFD4;
}

img {
max-width: 100%;
height: auto;
}

ul  {
text-align:left;
}

p  {
line-height:1.4em;
}

header  {
background-image: url(../images/Baseball.png);
border-bottom: 2px solid #302F2F;
text-align: center;
}

footer.wrapper {
  text-align:center;
  padding: 40px 20px;
  border-top: 2px solid #302F2F;
}
