table, th, td {
  border: 1px solid black;
}

#t01 {
  width: 75%;
  background-color: #f1f1c1;
}

#t01 tr:nth-child(even) {
  background-color: #08088A;
}
#t01 tr:nth-child(odd) {
  background-color: #08088A;
}
#t01 th {
  color: white;
  background-color: black;
}

img {
max-width: 50%;
height: auto;
  display: block;

margin-right: auto;
  width: 20%;
